<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributor Dashboard</title>
    <link rel="stylesheet" href="style/style-main.css">
    <link rel="stylesheet" href="style/contributor-home.css">
</head>
<body>
    <div class="main-container">
        <div class="container">
            <div class="left-sidebar">
                <div class="contributor-profile">
                    <img src="images/user.png" alt="user image" class="contributor-img">
                    <label class="contributor-name"><%=cont.name%></label>
                </div>
                <div class="menu-list">
                    <ul class="list">
                        <li class="list-items">My Dashboard</li>
                        <li class="list-items">Account</li>
                        <li class="list-items">Chats</li>
                        <li class="list-items">Donation</li>
                        <li class="list-items">Support</li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="header">
                    <div class="greeting">
                        <h2 class="welcome-text">project name</h2>
                        <p class="welcome">hello <%=cont.name%> welcome</p>
                    </div>
                    <div class="my-account">
                        <div class="avtar avatar-online">
                            <img src="images/user.png" alt="" class="contributor-avtar">
                        </div>
                    </div>
                </div>
                <div class="feed-container">
                    <div class="problem-feed">
                        <% if(posts!=null) { %>
                            <% posts.forEach(function(posts){ %>
                                <form action="/solutionfeed" method="post">
                                    <input type="hidden" value="<%=posts.solutions%>," name="blank" />
                                    <input type="hidden" value="<%=posts.problem%>," name="blank2" />
                                    <div class="problem">
                                        <h2 class="problem-title">
                                            <%= posts.problem%>
                                        </h2>
                                        <div class="info">
                                            <span class="problem-admin">
                                                <%= posts.name%>
                                            </span>
                                            <% if(posts.solved===1) { %>
                                                <div class="verifyed-ans">
                                                    <i class="fa-solid fa-file-check"></i> <span
                                                        class="issolved">solved</span>
                                                </div>

                                                <% } %>

                                                    <% if(posts.solved===0) { %>
                                                        <div class="un-verifyed-ans">
                                                            <i class="fa-solid fa-x"></i> <span
                                                                class="issolved">unsolved</span>
                                                        </div>
                                                        <% } %>

                                        </div>
                                        <div class="btn">
                                            <input type="submit" class="button" value="Solve">
                                        </div>

                                    </div>
                                </form>
                                <% }) %>
                                    <% } %>

                    </div>
         
                </div>
            </div>
        </div>
    </div>
</body>

</html>