<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <script src="https://kit.fontawesome.com/ad18072ca1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style-main.css">
</head>

<body>
    <style>
        .left-sidebar {
            width: 20%;
            float: left;
            left: 0;
            top: 0;
            position: absolute;
            height: 100vh;
            background: #eee;
            /* padding: 1% 10px; */
        }

        .contributor-profile {
            text-align: center;
            margin: 20px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            font-size: 26px;
        }

        .contributor-img {
            max-width: 100px;
            margin: 10px;
        }

        ul.list {
            margin: 0;
            padding: 0;
        }

        li.list-items {
            padding: 20px;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
        }

        li.list-items:hover {
            background: #02a79a;
        }

        .main {
            width: 80%;
            position: absolute;
            top: 0;
            left: 20%;
        }


        .user-requests {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;
        }


        img.user-img {
            max-width: 80px;
        }

        .users {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            margin: 10px;
            border: 1px solid #eee;
            width: 25%;
        }

        .header {
            display: flex;
            max-width: 100%;
            justify-content: space-between;
            flex-wrap: nowrap;
            align-items: center;
            /* padding: 0 2%; */
            background: #3333;
            margin: 0 0 20px 0;
            padding: 0 40px;
        }

        .avtar.avatar-online {
            /* width: 50px; */
            text-align: center;
            position: relative;
        }

        ul.dropdown-menu.dropdown-menu-end.show {
            padding: 0;
            margin: 0;
            visibility: hidden;
        }

        img.contributor-avtar {
            width: 30px;
        }

        .avtar.avatar-online:after {
            content: "";
            position: absolute;
            bottom: 4px;
            right: 0px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            box-shadow: 0 0 0 2px #fff;
            background: #71dd37;
        }

        .problem-feed {
            padding: 20px;
            width: 60%;
            max-height: 70vh;
            overflow: auto;
            margin: 0 20px 0 0;
        }

        .problem {
            border: 1px solid #eee;
            padding: 10px;
            border-radius: 20px;
            margin: 10px;
        }

        h2.problem-title {
            font-weight: 600;
            font-size: 22px;
        }


        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .btn {
            display: flex;
            justify-content: flex-end;
            margin: 4px 0 0 0;
        }

        input.button {
            padding: 6px 12px;
        }

        .verifyed-ans {
            font-size: 14px;
            font-weight: 600;
            border: 1px solid #eee;
            padding: 5px 10px;
            border-radius: 20px;
            background: #55ba6d;
            color: #000;
            margin: 0 0 0 20px;
        }

        .un-verifyed-ans {
            font-size: 12px;
            font-weight: 600;
            border: 1px solid #eee;
            padding: 5px 10px;
            border-radius: 20px;
            margin: 0 0 0 20px;
            color: #FF4B2B;
        }

        .solution-feed {
            width: 80%;
            margin: 0 auto;
        }

        .feed-container {
            display: flex;

        }

        .post-form {
            float: right;
            padding: 20px;
            width: 40%;
            height: 30%;
            background: #d9c6c6;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            margin: 0 20px 0 0;
        }

        input.problem-cat {
            display: block;
            padding: 10px;
            margin: 0 0 10px 0;
            width: 100%;
            font-size: 20px;
        }

        .post-form-container {
            width: 100%;
        }

        textarea.problem-write {
            width: 100%;
            font-size: 20px;
        }
    </style>
    <div class="main-container">
        <div class="container">
            <div class="left-sidebar">
                <div class="contributor-profile">
                    <img src="images/user.png" alt="user image" class="contributor-img">
                    <label class="contributor-name">Yogesh Kumar</label>
                </div>
                <div class="menu-list">
                    <ul class="list">
                        <li class="list-items">My Dashboard</li>
                        <li class="list-items"><a href="./user">Heal Me</a></li>
                        <li class="list-items">Chats</li>
                        <li class="list-items">Donation</li>
                        <li class="list-items">Support</li>
                    </ul>
                </div>
            </div>
            <div class="main">
                <div class="header">
                    <div class="greeting">
                        <h2 class="welcome-text">project name</h2>
                        <p class="welcome">hello user.name and welcome to project.nanme</p>
                    </div>
                    <div class="my-account">
                        <div class="avtar avatar-online">
                            <img src="images/user.png" alt="" class="contributor-avtar">
                        </div>
                    </div>
                </div>
                <div class="feed-container">
                    <div class="problem-feed">
                        <% if(posts!=null) { %>
                            <% posts.forEach(function(posts){ %>

                                <form action="/solutionfeed" method="post">
                                    <input type="hidden" value="<%=posts.solutions%>," name="blank" />
                                    <input type="hidden" value="<%=posts.problem%>," name="blank2" />
                                    <div class="problem">
                                        <h2 class="problem-title">
                                            <%= posts.problem%>
                                        </h2>
                                        <div class="info">
                                            <span class="problem-admin">
                                                <%= posts.name%>
                                            </span>
                                            <% if(posts.solved===1) { %>
                                                <div class="verifyed-ans">
                                                    <i class="fa-solid fa-file-check"></i> <span
                                                        class="issolved">solved</span>
                                                </div>

                                                <% } %>

                                                    <% if(posts.solved===0) { %>
                                                        <div class="un-verifyed-ans">
                                                            <i class="fa-solid fa-x"></i> <span
                                                                class="issolved">unsolved</span>
                                                        </div>
                                                        <% } %>

                                        </div>
                                        <div class="btn">
                                            <input type="submit" class="button" value="Solution">
                                        </div>

                                    </div>
                                </form>
                                <% }) %>
                                    <% } %>

                    </div>
                    <div class="post-form">
                        <div class="post-form-container">
                            <h3 class="post-create-title">Post your problem and get solution</h3>
                            <form action="/createpost" method="post">
                                <div class="problem-category">
                                    <label class="problem-cat-text">Your Problem Category</label>
                                    <input type="text" value="<%=posts[0].ptype%>" class="problem-cat" name="problem-category"
                                        readonly>
                                </div>
                                <div class="problem-container">
                                    <label> Describe your problem</label>
                                    <textarea class="problem-write" name="problem" rows="9" cols="25"
                                        required></textarea>

                                </div>
                                <div class="post-btn">
                                    <input type="submit" class="button" value="Post Your Problem">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>


    </script>

</body>

</html>