<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/verifyotp" method="post">
        <h2>
           dont enter otp just pess submit button
        </h2>
        <input type="hidden" value="<%= user.name%>" name="name" required/>
				<input type="hidden" value="<%= user.email %>" name="email" required/>
				<input type="hidden" value="<%= user.contact%>" name="phone" maxlength="10" required/>
				<input type="hidden" value="<%= user.password%>" name="password" required/>
				<input type="hidden" value="<%= user.cpassword %>"name="confirmpassword" required/>
        <input type="text" name="otp" value="<%=randomN%>">
        <button name="verifyButton" type="submit">Submit</button>
    </form>
</body>
</html>